.carousel-control-prev-icon{
    background-color: rgb(156, 153, 153);
    width: 30px;
    height: 50px;
    border-radius: 6px;
}

.carousel-control-next-icon{
    background-color: rgb(156, 153, 153);
    width: 30px;
    height: 50px;
    border-radius: 6px;
}

.row{
    background-image: url(../img/blanco.png);
    background-size: 100%;
}

.fondo_table{
    background-color: rgba(255, 255, 255, 0.3);
}

.container{
    margin-bottom: 1rem;
    
}

.d-block{
    width: 210px;
}