.card {
    text-align: justify;
}

.txt {
    text-align: right;
    font-weight: bold;
}

h5{
    color: rgb(3, 62, 146);
}

h6{
    color: rgb(3, 62, 146);
    font-weight: bold;
}


.row{
    display: flex;
    justify-content: center;
    align-items: center;
}